.dart.styled-text-area .dart_default {
	-styled-text-color: rgb(0, 0, 0);
}

.dart.styled-text-area .dart_operator {
	-styled-text-color: rgb(0, 0, 0);
}
/* ... */

.dart.styled-text-area .dart_bracket {
	-styled-text-color: rgb(0, 0, 0);
}

.dart.styled-text-area .dart_keyword {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.dart.styled-text-area .dart_keyword_1 {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.dart.styled-text-area .dart_keyword_2 {
	-styled-text-color: rgb(127, 0, 85);
	-fx-font-weight: bold;
}

.dart.styled-text-area .dart_single_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.dart.styled-text-area .dart_multi_line_comment {
	-styled-text-color: rgb(63, 127, 95);
}

.dart.styled-text-area .dart_string {
	-styled-text-color: rgb(42, 0, 255);
}

.dart.styled-text-area .dart_string_inter {
	-styled-text-color: rgb(42, 0, 255);
	-fx-font-weight: bold;
}

.dart.styled-text-area .dart_builtin_types {
	-styled-text-color: #74a567;
	-fx-font-weight: bold;
}

.dart.styled-text-area .dart_doc {
	-styled-text-color: rgb(63, 95, 191);
}

.dart.styled-text-area .dart_doc_reference {
	-styled-text-color: rgb(63, 95, 191);
	-fx-font-weight: bold;
}

.dart-element-name {
	
}

.dart-type-info {
	-fx-fill: lightgray;
}